# Object files
*.o
*.ko
*.obj
*.elf

# Debug files
*.dSYM/
*.su
Library
Temp
/example/obj
/example/example.sln
/example/Assembly-CSharp.csproj
/example/.vs
*DS_Store
*.vscode
src/managed/TstUnity/obj/
.vs
/example/Assembly-CSharp-Editor.csproj
/example/Bin
